<style>
    .useful p a {
        text-decoration: none;
        color: black;
    }

    .useful p a:hover {

        color: blue;
    }
</style>


<div class=" mt-5">
    <!-- Footer -->
    <footer class="text-center text-lg-start text-dark" style="background-color: #ECEFF1">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-between px-4 py-2 text-white" style="background-color: #21D192;">
            <!-- Left -->
            <div class="me-3">
                <img src="https://i.pinimg.com/736x/1e/85/4a/1e854ad1c69174ef45304a37aeb80881.jpg" class="px-3"
                    style="width:70px; border-radius:50%" />

                <span>Get connected with us on social networks:</span>
            </div>
            <!-- Left -->
            <!-- Right -->
            <div>
                <a href="" class="text-white me-4">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->
        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold">Sports Sphere</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>

                            Sports Sphere is your premier destination for high-quality sports products, offering a
                            diverse range of gear and equipment to elevate your athletic performance and style.
                        </p>
                    </div>

                    <div class="col-md-5 col-lg-4 col-xl-4 mx-auto mb-4 useful">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Useful links</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            <a href="about" class="text-dark">About Us</a>
                        </p>
                        <p>
                            <a target="_blank" href="/" class="text-dark">Home</a>
                        </p>


                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Contact</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p><i class="fas fa-home mr-3"></i>Islamabad, Pakistan</p>

                        <label for="message" class="form-label" mb-2><a class="email-link" target="_blank"
                                href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWtDsVnrMCHJFBdmbHWqcNwSzfmBbkxdlSpCPwjJzKQWDWkzcwKnCJkxldZQLlZvkhrfkmRtl"
                                style="color: #21D192; text-decoration:none;">232412@students.au.edu.pk</a></label>

                        <label for="message" class="form-label" mb-2><a class="email-link" target="_blank"
                                href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWtDsVnrMCHJFBdmbHWqcNwSzfmBbkxdlSpCPwjJzKQWDWkzcwKnCJkxldZQLlZvkhrfkmRtl"
                                style="color: #21D192; text-decoration:none;">232499@students.au.edu.pk</a></label>

                        <label for="message" class="form-label" mb-2><a class="email-link" target="_blank"
                                href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWtDsVnrMCHJFBdmbHWqcNwSzfmBbkxdlSpCPwjJzKQWDWkzcwKnCJkxldZQLlZvkhrfkmRtl"
                                style="color: #21D192; text-decoration:none;">232424@students.au.edu.pk</a></label>
                    </div>

                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2020 Copyright:
            <a class="text-dark" style="text-decoration:none; cursor:pointer;">SportsSphere.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>
<!-- End of .container -->