@inherits LayoutComponentBase

<PageTitle>SportsSphere.User</PageTitle>

<div class="page">
    

    <main>
        <CustomNav></CustomNav>

        <article class="content px-4">
            @Body
           
        </article>
        <CustomFooter></CustomFooter>
    </main>
</div>
